<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.mapper.CourseScheduleMapper">

    <!--CREATE TABLE course_schedule (
     id int PRIMARY KEY,
     course_id varchar(20) NOT NULL AUTO_INCREMENT,
     class_id varchar(20) NOT NULL,
     teacher_id varchar(20) NOT NULL,
     start_time int NOT NULL comment '上课节次的起始',
     end_time int NOT NULL comment '上课节次的结束',
     location varchar(100)
);
-->


    <!-- 增加一条课程表信息 -->
    <insert id="addCourseSchedule" parameterType="com.management.pojo.CourseSchedule">
        insert into course_schedule(course_id, class_id, teacher_id, start_time, end_time, location) values
        (#{courseId}, #{classId}, #{teacherId}, #{startTime}, #{endTime}, #{location})
    </insert>

    <!-- 删除一条课程表信息 -->
    <delete id="deleteCourseScheduleById" parameterType="int">
        delete from course_schedule where id=#{id}
    </delete>

    <!-- 修改一条课程表信息 -->
    <update id="updateCourseSchedule" parameterType="com.management.pojo.CourseSchedule">
        update course_schedule set course_id=#{courseId}, class_id=#{classId},
                                   teacher_name=#{teacherName}, time=#{time}, location=#{location} where id=#{id}
    </update>

    <!-- 查询所有课程表信息 -->
    <select id="getAllCourseSchedules" resultType="com.management.pojo.CourseSchedule">
        select * from course_schedule
    </select>

    <!-- 根据id查询一条课程表信息 -->
    <select id="getCourseScheduleById" parameterType="int" resultType="com.management.pojo.CourseSchedule">
        select * from course_schedule where id=#{id}
    </select>

    <!-- 根据课程号查询该门课程的课程表信息 -->
    <select id="getCourseSchedulesByCourseId" parameterType="String" resultType="com.management.pojo.CourseSchedule">
        select * from course_schedule where course_id=#{courseId}
    </select>

    <!-- 根据班级号查询该班级的课程表信息 -->
    <select id="getCourseSchedulesByClassId" parameterType="String" resultType="com.management.pojo.CourseSchedule">
        select * from course_schedule where class_id=#{classId}
    </select>

    <!-- 根据教师姓名查询该教师的课程表信息 -->
    <select id="getCourseSchedulesByTeacherName" parameterType="String" resultType="com.management.pojo.CourseSchedule">
        select * from course_schedule where teacher_name=#{teacherName}
    </select>

    <!-- 根据时间查询课程表信息 -->
    <select id="getCourseSchedulesByTime" parameterType="String" resultType="com.management.pojo.CourseSchedule">
        select * from course_schedule where time=#{time}
    </select>

    <!-- 根据教师id查询该教师的课程表信息 -->
    <select id="getCourseSchedulesByTeacherId" parameterType="int" resultType="com.management.pojo.CourseSchedule">
        SELECT c.course_id, c.name, s.time, s.location
        FROM course_schedule s
                 JOIN course c ON s.course_id = c.course_id
        WHERE s.teacher_id = #{teacherId}
    </select>

    <!-- 根据userId查询课程表信息 -->
    <select id="getCourseScheduleByUserId" parameterType="Integer" resultMap="courseScheduleResultMap">
        SELECT cs.*
        FROM course_schedule cs
                 JOIN users u ON cs.id = u.id
        WHERE u.id = #{userId}
    </select>

    <resultMap type="com.management.pojo.CourseSchedule" id="courseScheduleResultMap">
        <id property="id" column="id"/>
        <result property="courseId" column="course_id"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="classId" column="class_id"/>
        <result property="location" column="location"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
    </resultMap>

</mapper>
