<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.mapper.GradeMapper">

    <!-- 增加成绩记录 -->
    <insert id="addGrades" parameterType="com.management.pojo.Grade" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert ignore into grade(student_id, course_id, score)
        values
            <foreach collection="gradeList" item="item" index="index" separator=",">
                (#{item.studentId}, #{item.courseId}, #{item.score})
            </foreach>

    </insert>

    <!-- 删除一条成绩记录 -->
    <delete id="deleteGradeById" parameterType="int">
        delete from grade where id=#{id}
    </delete>

    <!-- 修改一条成绩记录 -->
    <update id="updateGrade" parameterType="com.management.pojo.Grade">
        update grade set score=#{score}
        <where>
            <choose>
                <when test="studentId != null and studentId != '' and courseId != null and courseId != ''">
                    where student_id=#{studentId} and course_id=#{courseId}
                </when>
                <otherwise>
                    where id=#{id}
                </otherwise>
            </choose>
        </where>
    </update>


    <select id="getGrades" parameterType="com.management.pojo.Grade" resultMap="gradeMap">
        select g.*,
               s.id as sid,s.name as student_name,s.gender,s.birthday,s.major,s.class_id,s.address,s.phone,s.note,s.user_id,
                c.id as cid,c.name as course_name,c.hours,c.credit
        from grade g
        left join student s on g.student_id=s.student_id
        left join course c on g.course_id=c.course_id
        <where>
            <if test="studentId != null and studentId != ''">
                and g.student_id=#{studentId}
            </if>
            <if test="courseId != null and courseId != ''">
                and g.course_id=#{courseId}
            </if>
            <if test="studentInfo != null">
                <if test="studentInfo.name != null and studentInfo.name != ''">
                    and s.name like concat('%',#{studentInfo.name},'%')
                </if>
                <if test="studentInfo.major != null and studentInfo.major != ''">
                    and s.major=#{studentInfo.major}
                </if>
                <if test="studentInfo.classId != null and studentInfo.classId != ''">
                    and s.class_id=#{studentInfo.classId}
                </if>
                <if test="studentInfo.address != null and studentInfo.address != ''">
                    and s.address like concat('%',#{studentInfo.address},'%')
                </if>
                <if test="studentInfo.phone != null and studentInfo.phone != ''">
                    and s.phone like concat('%',#{studentInfo.phone},'%')
                </if>
                <if test="studentInfo.note != null and studentInfo.note != ''">
                    and s.note like concat('%',#{studentInfo.note},'%')
                </if>
                <if test="studentInfo.userId != 0">
                    and s.user_id=#{studentInfo.userId}
                </if>
            </if>
            <if test="courseInfo != null">
                <if test="courseInfo.name != null and courseInfo.name != ''">
                    and c.name like concat('%',#{courseInfo.name},'%')
                </if>
                <if test="courseInfo.hours != 0">
                    and c.hours=#{courseInfo.hours}
                </if>
                <if test="courseInfo.credit != 0">
                    and c.credit=#{courseInfo.credit}
                </if>
            </if>
        </where>
    </select>


    <select id="getGradesByScoreRange" resultMap="gradeMap">
        select g.*,
        s.id as sid,s.name as student_name,s.gender,s.birthday,s.major,s.class_id,s.address,s.phone,s.note,s.user_id,
        c.id as cid,c.name as course_name,c.hours,c.credit
        from grade g
        left join student s on g.student_id=s.student_id
        left join course c on g.course_id=c.course_id
        <if test="teacherInfo != null">
            left join course_schedule cs on c.course_id = cs.course_id
        </if>
        <where>
            <if test="grade.studentId!=null and grade.studentId!=''">
                and g.student_id=#{grade.studentId}
            </if>
            <if test="grade.courseId!=null and grade.courseId!=''">
                and g.course_id=#{grade.courseId}
            </if>
            <if test="grade.studentInfo != null">
                <if test="grade.studentInfo.name != null and grade.studentInfo.name != ''">
                    and s.name like concat('%',#{grade.studentInfo.name},'%')
                </if>
                <if test="grade.studentInfo.major != null and grade.studentInfo.major != ''">
                    and s.major=#{grade.studentInfo.major}
                </if>
                <if test="grade.studentInfo.classId != null and grade.studentInfo.classId != ''">
                    and s.class_id=#{grade.studentInfo.classId}
                </if>
                <if test="grade.studentInfo.address != null and grade.studentInfo.address != ''">
                    and s.address like concat('%',#{grade.studentInfo.address},'%')
                </if>
                <if test="grade.studentInfo.phone != null and grade.studentInfo.phone != ''">
                    and s.phone like concat('%',#{grade.studentInfo.phone},'%')
                </if>
                <if test="grade.studentInfo.note != null and grade.studentInfo.note != ''">
                    and s.note like concat('%',#{grade.studentInfo.note},'%')
                </if>
                <if test="grade.studentInfo.userId != null and grade.studentInfo.userId != ''">
                    and s.user_id=#{grade.studentInfo.userId}
                </if>
            </if>
            <if test="grade.courseInfo != null">
                <if test="grade.courseInfo.name != null and grade.courseInfo.name != ''">
                    and c.name like concat('%',#{grade.courseInfo.name},'%')
                </if>
                <if test="grade.courseInfo.hours != null and grade.courseInfo.hours != ''">
                    and c.hours=#{grade.courseInfo.hours}
                </if>
                <if test="grade.courseInfo.credit != null and grade.courseInfo.credit != ''">
                    and c.credit=#{grade.courseInfo.credit}
                </if>
            </if>
            <if test="minScore!=null and minScore!=''">
                and g.score &gt;= #{minScore}
            </if>
            <if test="maxScore!=null and maxScore!=''">
                and g.score &lt;= #{maxScore}
            </if>
            <if test="teacherInfo != null">
                and cs.teacher_id = #{teacherInfo.teacherId}
            </if>
        </where>
    </select>

    <resultMap id="gradeMap" type="com.management.pojo.Grade">
        <id property="id" column="id"/>
        <result property="studentId" column="student_id"/>
        <result property="courseId" column="course_id"/>
        <result property="score" column="score"/>

        <association property="studentInfo" javaType="com.management.pojo.Student">
            <id property="id" column="sid"/>
            <result property="studentId" column="student_id"/>
            <result property="name" column="student_name"/>
            <result property="gender" column="gender"/>
            <result property="birthday" column="birthday"/>
            <result property="major" column="major"/>
            <result property="classId" column="class_id"/>
            <result property="address" column="address"/>
            <result property="phone" column="phone"/>
            <result property="note" column="note"/>
            <result property="userId" column="user_id"/>
        </association>

        <association property="courseInfo" javaType="com.management.pojo.Course">
            <id property="id" column="cid"/>
            <result property="courseId" column="course_id"/>
            <result property="name" column="course_name"/>
            <result property="hours" column="hours"/>
            <result property="credit" column="credit"/>
        </association>
    </resultMap>


</mapper>
