<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.mapper.TeacherMapper">

    <!-- 增加一位教师 -->
    <insert id="addTeacher" parameterType="com.management.pojo.Teacher" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into teacher(teacher_id, name, gender, birthday, faculty, phone, user_id)
        values(#{teacherId}, #{name}, #{gender}, #{birthday}, #{faculty}, #{phone}, #{userId})
    </insert>

    <!-- 删除一个教师 -->
    <delete id="deleteTeacherById" parameterType="int">
        delete from teacher where id=#{id}
    </delete>
    <delete id="deleteTeacherByUserId">
        delete from teacher where user_id=#{userId}
    </delete>

    <!-- 修改一个教师的信息 -->
    <update id="updateTeacher" parameterType="com.management.pojo.Teacher">
        update teacher set teacher_id=#{teacherId}, name=#{name}, gender=#{gender},
                           birthday=#{birthday}, faculty=#{faculty}, phone=#{phone}, user_id=#{userId}
        where id=#{id}
    </update>

    <!-- 查询所有教师信息 -->
    <select id="getAllTeachers" resultType="com.management.pojo.Teacher">
        select * from teacher
    </select>

    <!-- 根据id查询一位教师的信息 -->
    <select id="getTeacherById" parameterType="int" resultType="com.management.pojo.Teacher">
        select * from teacher where id=#{id}
    </select>

    <!-- 根据教师号查询一位教师的信息 -->
    <select id="getTeacherByTeacherId" parameterType="String" resultType="com.management.pojo.Teacher">
        select * from teacher where teacher_id=#{teacherId}
    </select>

    <!-- 获取教师的课程信息 -->
    <select id="getTeacherCourses" parameterType="String" resultType="com.management.pojo.Course">
        SELECT c.course_id, c.name, c.hours, c.credit, cs.start_time,cs.end_time, cs.location, cs.week, cs.day
        FROM course c
                 JOIN course_schedule cs ON c.course_id = cs.course_id
                 JOIN teacher t ON cs.teacher_id = t.teacher_id
                 JOIN users u ON t.user_id = u.id
        WHERE u.user_type = 'teacher' AND t.teacher_id = #{teacherId};
    </select>

    <!-- 根据userId查询一位教师的信息 -->
    <select id="getTeacherByUserId" parameterType="int" resultType="com.management.pojo.Teacher">
        select t.*
        from teacher t
                 join users u on t.user_id = u.id
        where u.id = #{userId} and u.user_type = 'teacher'
    </select>

    <!-- 根据教师id获取成绩列表 -->
    <select id="getGrade" parameterType="String" resultType="com.management.pojo.Grade">
        SELECT * FROM grade WHERE course_id = (
            SELECT course_id FROM course_schedule WHERE teacher_id = (
                SELECT teacher_id FROM teacher WHERE user_id = #{userId}
            )
        ) AND student_id IN (
            SELECT student_id FROM student WHERE class_id = (
                SELECT class_id FROM course_schedule WHERE teacher_id = (
                    SELECT teacher_id FROM teacher WHERE user_id = #{userId}
                )
            )
        );


    </select>

    <!-- 提交成绩 -->
    <update id="updateGrade" parameterType="com.management.pojo.Grade">
        UPDATE grade
        SET score = #{score}
        WHERE student_id = #{studentId} AND course_id = #{courseId}
    </update>

<!--    &lt;!&ndash; 根据userType来查询所有教师信息 &ndash;&gt;-->
<!--    <select id="getAllTeachers" parameterType="com.management.pojo.Teacher">-->
<!--        -->
<!--    </select>-->

<!--    <resultMap id="teacherMap" type="com.management.pojo.Teacher">-->
<!--        <id property="id" column="id"/>-->
<!--        <result property="teacherId" column="teacher_id"/>-->
<!--        <result property="name" column="name"/>-->
<!--        <result property="gender" column="gender"/>-->
<!--        <result property="birthday" column="birthday"/>-->
<!--        <result property="faculty" column="faculty"/>-->
<!--        <result property="phone" column="phone"/>-->
<!--        <result property="userId" column="user_id"/>-->

<!--        <association property="user" javaType="com.management.pojo.Users">-->
<!--            <id property="id" column="id"/>-->
<!--            <result property="username" column="username"/>-->
<!--            <result property="password" column="password"/>-->
<!--            <result property="userType" column="user_type"/>-->
<!--        </association>-->
<!--    </resultMap>-->

    <select id="getTeachers" resultMap="teacherMap" parameterType="com.management.pojo.Teacher">
        SELECT t.id, t.teacher_id, t.name, t.gender, t.birthday, t.faculty, t.phone, t.user_id, u.username, u.user_type
        FROM teacher t
        LEFT JOIN users u ON t.user_id = u.id
        <where>
            <if test="name != null and name != ''">
                AND t.name = #{name}
            </if>
            <if test="id != null and id != ''">
                and t.id = #{id}
            </if>
            <if test="teacherId != null and teacherId !=''">
                and t.teacher_id = #{teacherId}
            </if>
            <if test="birthday != null and birthday !=''">
                and t.birthday = #{birthday}
            </if>
            <if test="phone != null and phone !=''">
                and t.phone = #{phone}
            </if>
            <if test="userId != null and userId !=''">
                and t.user_id = #{userId}
            </if>


            <if test="userInfo != null">
                <if test="userInfo.username != null and userInfo.username != ''">
                    and u.username = #{userInfo.username}
                </if>
                <if test="userInfo.userType != null and userInfo.userType != ''">
                    and u.user_type = #{userInfo.userType}
                </if>
            </if>
            <if test="gender != null and gender != ''">
                AND t.gender = #{gender}
            </if>
            <if test="faculty != null and faculty != ''">
                AND t.faculty = #{faculty}
            </if>
        </where>
    </select>

    <resultMap id="teacherMap" type="com.management.pojo.Teacher">
        <id property="id" column="id"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="name" column="name"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="faculty" column="faculty"/>
        <result property="phone" column="phone"/>
        <result property="userId" column="user_id"/>
        <association property="userInfo" resultMap="userMap"/>
    </resultMap>

    <resultMap id="userMap" type="com.management.pojo.Users">
        <id property="id" column="user_id"/>
        <result property="username" column="username"/>
        <result property="userType" column="user_type"/>
    </resultMap>



</mapper>
