<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.mapper.UsersMapper">

    <select id="getUsers" parameterType="com.management.pojo.Users" resultMap="usersResultMap">
        SELECT *
        FROM users
        <where>
            <if test="id != 0">AND id = #{id}</if>
            <if test="username != null and username != ''">AND username = #{username}</if>
            <if test="password != null and password != ''">AND password = #{password}</if>
            <if test="userType != null and userType != ''">AND userType = #{userType}</if>
        </where>
    </select>

    <select id="getStudentUsers" parameterType="com.management.pojo.Users" resultMap="usersResultMap">
        SELECT *
        FROM users u LEFT JOIN student s ON u.id = s.user_id
        WHERE u.user_type = 'student'
        <if test="id != 0">AND u.id = #{id}</if>
        <if test="username != null and username != ''">AND u.username = #{username}</if>
        <if test="password != null and password != ''">AND u.password = #{password}</if>
    </select>


    <resultMap id="usersResultMap" type="com.management.pojo.Users">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="userType" jdbcType="VARCHAR" property="userType"/>
        <association property="studentInfo" javaType="com.management.pojo.Student">
            <id column="student_id" jdbcType="VARCHAR" property="studentId"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="gender" jdbcType="VARCHAR" property="gender"/>
            <result column="birthday" jdbcType="DATE" property="birthday"/>
            <result column="major" jdbcType="VARCHAR" property="major"/>
            <result column="class_num" jdbcType="VARCHAR" property="classNum"/>
            <result column="address" jdbcType="VARCHAR" property="address"/>
            <result column="phone" jdbcType="VARCHAR" property="phone"/>
            <result column="note" jdbcType="VARCHAR" property="note"/>
            <result column="user_id" jdbcType="INTEGER" property="userId"/>
            <association property="userInfo" javaType="com.management.pojo.Users">
                <id column="id" jdbcType="INTEGER" property="id"/>
                <result column="username" jdbcType="VARCHAR" property="username"/>
                <result column="password" jdbcType="VARCHAR" property="password"/>
                <result column="userType" jdbcType="VARCHAR" property="userType"/>
            </association>
        </association>
        <association property="teacherInfo" javaType="com.management.pojo.Teacher">
            <id column="teacher_id" jdbcType="VARCHAR" property="teacherId"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="gender" jdbcType="VARCHAR" property="gender"/>
            <result column="birthday" jdbcType="DATE" property="birthday"/>
            <result column="faculty" jdbcType="VARCHAR" property="faculty"/>
            <result column="phone" jdbcType="VARCHAR" property="phone"/>
            <result column="user_id" jdbcType="INTEGER" property="userId"/>
            <association property="userInfo" javaType="com.management.pojo.Users">
                <id column="id" jdbcType="INTEGER" property="id"/>
                <result column="username" jdbcType="VARCHAR" property="username"/>
                <result column="password" jdbcType="VARCHAR" property="password"/>
                <result column="userType" jdbcType="VARCHAR" property="userType"/>
            </association>
        </association>
    </resultMap>



</mapper>
