<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.management.mapper.UsersMapper">
<!--    <select id="findUserByUserNameAndPassword" resultType="Users">-->
<!--        SELECT * FROM users WHERE username = #{userName} and password = #{password}-->
<!--    </select>-->

<!--    <update id="updateUserPasswordById">-->
<!--        UPDATE users SET password = #{password} WHERE id = #{id}-->
<!--    </update>-->

<!--    <select id="findUserById" resultType="Users">-->
<!--        SELECT * FROM users WHERE id = #{id}-->
<!--    </select>-->
</mapper>
